*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.prueba{
    display: flex;
    align-items: center;
    min-height: 70vh;
}
.wrapper{
    width: 100%;
}
.wrapper .carousel{

    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}

.carousel .card{
    margin: 20px 0;
    border-radius: 10px;

}
.carousel .card img{
    border-radius: 10px;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 15px;
    width: 30px;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    margin: 0 5px;
    border: 1px solid #454545 !important;
    transition: all 0.3s ease;
}
.owl-dot:hover,
.owl-dot.active{

    background: #454545 !important;

}